@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree&family=Rubik:wght@300&display=swap');

body{
    background-color: hsl(226, 43%, 10%);
    font-family:'Rubik', sans-serif;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
